*{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    border:border-box;
}
body {
    background-color:#e2e7e6;
}
/** Nav Bar **/
.navbar {
    height:60px;
    width:100%;
    background-color:#0f1111;
    color:#ffffff;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.navlogo {
    height:50px;
    width:113px;
}
.logo {
    background-image:url("amazon_logo.png");
    background-size: cover;
    height:60px;
    width:100%;
}
.add-p-1 {
    font-size: 12px;
    color:#cccccc;
    margin-left:15px;
}
.add-p-2 {
    font-size:14px;
    color:#ffffff;
    margin-left:3px;
}
.add-icon {
    display:flex;
    align-items: center;
}
.nav-search {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:430px;
    height:40px;
    
}
.nav-search:hover {
    border:2px solid #ffa125;
}
.search-select{
    height:40px;
    width:50px;
    text-align:center;
    background-color:#e6e6e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
}
.search-input {
    height:40px;
    width:100%;
    font-size:1rem;
    background-color:#ffffff;
    border:none;
}
.search-icon {
    height:40px;
    width:45px;
    display:flex;
    justify-content:center;
    font-size:1.2rem;
    background-color:#febd68;
    color:#0f1111;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    align-items:center;
}
.nav-lang {
    display:flex;
    justify-content:center;
    height:16px;
    width:65px;
}
.lang-image {
    background-image: url("indian_flag.webp");
    background-size: cover;
    height:16px;
    width:25px;
    display:flex;
    justify-content:center;
    margin-right:2px;
}
.lang {
    color:#ffffff;
    font-size:14px;
}
.lang-down {
    margin-left:2px;
    margin-top:1px;
    height:8px;
    width:4px;
}
.acc-p-1 {
    font-size:12px;
    margin-left:1px;
}
.account {
    font-size:14px;
    background-color:transparent;
    color:white;
    border:none;
    font-weight: bold;
    margin-left:-2px;
}
.orders-p-1 {
    font-size:12px;
}
.orders-p-2 {
    font-size:14px;
}
.cart-p-2 {
    font-size:14px;
    margin-left:2px;
}
.cart-icon i {
    font-size:30px;
}
.cart-icon {
    display:flex;
    align-items:center;
    justify-content:center;
    padding-right:11px;
}
/** border **/
.border {
    border:1.5px solid transparent;
}
.border:hover {
    border:1.5px solid #ffffff;
}
/** Panel **/
.panel {
    height:40px;
    width:100%;
    background-color:#222f3d;
    display:flex;
    align-items:center;
    color:white;
    justify-content:space-between;
}
.panel-all {
    display:flex;
    justify-content:center;
    font-weight: 700;
    font-size:14px;
    padding-left:10px;
}
.panel-all i {
    font-size:17px;
    margin-right:5px;
}
.panel-long p {
    font-size:14px;
    display:inline;
    margin-right:13px;
}
.panel-long {
    width:70%;
    margin-left:-100px;
}
.panel-shop {
    font-size:14px;
    font-weight:700;
    padding-right:40px;
}
/** Hero Section **/
.hero-section {
    background-image: url("hero_image.jpg");
    height:600px;
    width:100%;
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    position:absolute;
    z-index:-1;
}
.hero-msg {
    background-color:whitesmoke;
    color:black;
    height:40px;
    width:97%;
    display:flex;
    margin-top:275px;
    align-items: center;
    justify-content:center;
}
.hero-msg a {
    color:#007185;
    text-decoration: none;
}
/** Shop Section **/
.shop-section {
    display:flex;
    flex-wrap:wrap;
    align-content:flex-end;
    margin-top : 400px;
    justify-content:space-evenly;
    padding-bottom:20px;
    
    
}
.box {
    height:400px;
    width:23%;
    border: 2px solid black;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top:15px;
}
.box a {
    text-decoration: none;
    color:#007185;
}
.box1-image {
    background-image: url("box1_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box1-content {
    margin-left:1rem;
    margin-right:1rem;
}
.box2-image {
    background-image: url("box2_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box2-content {
    margin-left:1rem;
    margin-right:1rem;
}
.box3-image {
    background-image: url("box3_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box3-content {
    margin-left:1rem;
    margin-right:1rem;
}
.box4-image {
    background-image: url("box4_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box4-content {
    margin-left:1rem;
    margin-right:1rem;
}
.box5-image {
    background-image: url("box5_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box5-content {
    margin-left:1rem;
    margin-right:1rem;
}
.box6-image {
    background-image: url("box6_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box6-content {
    margin-left:1rem;
    margin-right:1rem;
}
.box7-image {
    background-image: url("box7_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box7-content {
    margin-left:1rem;
    margin-right:1rem;
}
.box8-image {
    background-image: url("box8_image.jpg");
    background-size: cover;
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box8-content {
    margin-left:1rem;
    margin-right:1rem;
}
/** footer **/
nav a {
    background-color:#37475a;
    color:white;
    font-size:14px;
    text-decoration: none;
    width:100%;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.foot-panel-1 {
    background-color: #222f3d;
    color:white;
    height:350px;
    display:flex;
    justify-content: space-evenly;
    padding-top:50px;
}
ul a {
    display:block;
    font-size:14px;
    color:#dddddd;
    text-decoration: none;
    margin-bottom:10px;
}
ul p {
    font-size:16px;
    margin-bottom:14px;
}
.foot-panel-2 {
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid #dddddd;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.amazon-logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:60px;
    width:100px;
}
.foot-panel-3 {
    font-size:12px;
    color:white;
    height:80px;
    background-color:#131a22;
    text-align:center;
    padding-top:45px;
}
.pages a {
    color:white;
    text-decoration: none;
    margin-right:15px;
}
.copyright {
    padding-top:10px;
}


